@use "vars";

.list_item {
  padding: 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  &_personal_info,
  &_actions {
    padding: 2em 1em;
  }

  &_actions {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .links {
      .link_action {
        cursor: pointer;
        padding: 0 0.3em;
      }
    }
  }

  &_title {
    font-size: vars.$font_size_large;
  }

  &_subtitle {
    font-size: vars.$font_size_small;
  }
}
