@use "vars";

.list_item {
  &_personal_info,
  &_actions {
    padding: 2em 1em;
  }

  &_actions {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .links {
      .link_action {
        padding: 0 0.3em;
      }
    }
  }
}
